*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.flex{
    display: flex;
}
body{
    background-color: #F2F2F2;
    font-family: "poppins";
}
ul{
    list-style-type: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}